html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid {
  border: 1px solid #000000;
  color: #514f4d;
  overflow-y: hidden;
}

.cell {
  border-right: 1px solid #b0adab;
  border-bottom: 1px solid #b0adab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: #f3f2f2;
}

.header {
  background-color: #fafaf9;
}

.row-hovered {
  background-color: #f3f2f2;
}
